body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.header {
    display: flexbox;
    margin-top: 50px;
    max-width: 100%;
}

.title {
    text-align: center;
    margin: 0% 35%;
}

.title::after {
    content: '';
    display: block;
    background-color: rgb(255, 103, 103);
    height: 50px;
    width: 50px;
    border-radius: 90px;
    border-color: aliceblue;
    border-style: solid;
    position: relative;
    transform: translate(113px, -58px);
}

.title::before {
    content: '';
    display: block;
    background-color: rgb(103, 144, 255);
    height: 50px;
    width: 50px;
    border-radius: 90px;
    border-color: aliceblue;
    border-style: solid;
    position: relative;
    transform: translate(612px, 72px);
}